body{
  margin: 0;
  color: black;
  font-family: Arial, sans-serif;
  #background-image: url("../img/Jul_Logo.jpeg");
  #background-size: cover;
  #width: 100%;
}

.banner{
  display: flex;
  background-color: pink;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banner-text {
  color: rgb(250, 245, 245);
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
  font-family: Lucida Console, cursive;
  font-size: 2rem;
  animation: move 25s linear infinite;
  white-space: nowrap;
  position: relative;
  left: 0;
}

@keyframes move {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.main {
  margin: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.header {
  border: 2px blue solid;
}

#welcome-header {
  text-align: center;
}

.container {
  flex-wrap: wrap;
  border: 1px black solid;
  border-radius: 10px;
  width: 100%;
}

.header-bar {
  position: relative;
  display: flex;
}

h2 {
  margin: 10px 10px 10px 10px;
  padding: 2px 0 0 20px; /*top, right, bottom, left */
  border: 3px pink solid;
  cursor: pointer;
  width: 100%;
  flex-grow: 1;
}

.download-button {
  margin: 10px 10px 10px 10px;
  background-image: url("../icons/download-icon.png");
  background-size: contain;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  cursor: pointer;
  border: 2px black solid;
}


#music-list, #image-list, #document-list{
  display: none;
}

.container.active #music-list, .container.active #image-list, .container.active #document-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 10px 10px 10px 20px;
  border: 3px green solid;
  list-style-type: none;
  padding: 10px 10px 10 100px;
}
